LOGIN PAGE


<button (click)="login()">Login</button>

Region:<br>
<input [(ngModel)]="authInfo.region">
<br>
UserPoolId:<br>
<input [(ngModel)]="authInfo.userPoolId">
<br>
IdentityPoolId:<br>
<input [(ngModel)]="authInfo.identityPoolId">
<br>
clientId:<br>
<input [(ngModel)]="authInfo.clientId">
<br>
FlowType
<select [(ngModel)]="authInfo.authenticationFlowType">
    <option>USER_PASSWORD_AUTH</option>
    <option>ADMIN_NO_SRP_AUTHENTICATION</option>
</select>
<br>

<form>
    <div class="form-group">
        <div style="border: 1px solid black">
            {{diagnostic}}<br>
            {{diagnosticAuth}}
        </div>
        <br>

        <label for="email">Email</label>
        <input name="email" id="email" [(ngModel)]="user.email">
        <br>
        <label for="password">Password</label>
        <input name="email" id="password" [(ngModel)]="user.password">
        <br>
        <hr/>
        <div style="color: red">{{error}}</div>
        <textarea style="width: 1280px; height: 500px" [value]="result">
        </textarea>
    </div>


    <button (click)="register()">Register</button>
</form>

<hr>

<input [(ngModel)]="authInfo.password">
<button (click)="changePassword()">Change password</button>
